# Data Science Tools and Ecosystem

An overview of the Data Science tools and ecosystem will be provided in this notebook.

**Objectives:**
* Most popular languages in Data Science
* Most common libraries used in Data Science
* Data Science Tools
* Examples of arithmetic expressions in Python

Some of the most popular languages used by Data Scientists are:

1. Python 
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. SciPy
4. PyTorch

| Data Science Tools |
|---|
| Jupyter Notebook |
| VS code | 
|Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Nithin Shyjan